---
import "../styles/global.css";
import ScrollingHeader from "../components/ScrollingHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Coig - about";


---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>

  <ScrollingHeader  text="DUPA" />
  
</BaseLayout>