---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Product";

const skillColor = "navy";
---



<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1>{pageTitle}</h1>
    ⛰️ Etap 3 – Zlaté Hory → Międzylesie
81,4 km | 1 093 m przewyższenia | 4:53 h
Witamy w górach. Tego dnia szlak pnie się przez serce Wysokiego Jesionika, przez miejscowości jak Lipová-lázně, Jeseník, Hanušovice i Kraliky. Góry nie dadzą Ci chwili wytchnienia – trzy konkretne podjazdy rozgrzeją nogi, ale i wynagrodzą Ci to widokami z bajki. Po drodze spotkasz ruiny fortyfikacji, leśne ścieżki i ciszę, która brzmi jak muzyka.
  </div>
</BaseLayout>