---
import BaseLayout from "../layouts/BaseLayout.astro";
import Toggle from "../components/Toggle.astro";
import Counter from "../components/Counter.astro";
import FullWidthBanner from "../components/FullWidthBanner.astro";
import RoadDetails from "../components/RoadDetails.astro";
import GlitchImageBanner from "../components/GlitchImageBanner.astro";
import ScrollingHeader from '../components/ScrollingHeader.astro'

const pageTitle = "Coig - product website boilerplate";
---

<style>
  .centered-counter {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* nad tłem i overlayem */
    text-align: center;
    width: 100%;
  }
  .hero-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
  }

  .hero-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/img/alpe-nicht.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1) sepia(0.5) brightness(0.8);
    animation: zoomPan 20s infinite alternate ease-in-out;
    z-index: 0;
  }

  .hero-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .description-paragraph {
    font-size: 1rem;
    color: #f4e9c3;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 1rem;
    animation: distortionSkew 1s alternate ease-in-out;
  } 

  @keyframes zoomPan {
    0% {
      transform: scale(1) translate(0, 0);
    }
    25% {
      transform: scale(1.05) translate(1%, -1%);
    }
    50% {
      transform: scale(1.1) translate(-1%, 1%);
    }
    75% {
      transform: scale(1.05) translate(0.5%, -0.5%);
    }
    100% {
      transform: scale(1) translate(0, 0);
    }
  }

  @keyframes distortionSkew {
    0% {
      transform: skew(0deg, 0deg);
      filter: blur(20px);
    }
    100% {
      transform: skew(3deg, -1deg);
      filter: blur(5px);
    }
  }
</style>

<BaseLayout>
  <div class="hero-wrapper">
    <div class="centered-counter">
     
      <Toggle
        id="szczegoly-etapu"
        buttonLabel="O co chodzi?"
        buttonLabelAlt="ok"
      >
      <div class="description-paragraph">
        <p>O doświadczenia, relaks, ucieczkę i wyzwanie. O 555km przygodę z 5800m przewyższenia</p>
        <p>O możliwość dołączenia do bandy ambitnych pasjontów i zostawienia pieniędzy w miejscu, które tego potrzebuje</p>
  
       </div>

     </div>
        
      </Toggle>
    </div>
    <ScrollingHeader  text="KOTLINA" />
    <Counter />
  </div> 
  <!-- Dzień 1  
   
    https://www.strava.com/routes/3339199849723845918
    
    -->
  <FullWidthBanner
    id="day1"
    headline="Etap 1"
    description={`Kato - Ostrava 08.06-09.06`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
    Z betonowej dżungli Katowic ruszasz na południe przez Żory i Rybnik. 
    To dzień rozgrzewki, ale nie łudź się – czekają na Ciebie pagórki Śląska, 
    ciasne leśne dukty i gładkie asfaltowe nitki. Finał? Legendarna Hałda Ema w Ostrawie – 
    industrialna piramida z widokiem, który zapiera dech. 
    Zachód słońca z jej szczytu to jak kropka nad "i"
    Twojego
    pierwszego
    dnia. Kofola, Radegast, Ser
    `}
    url="/day-1/"
    backgroundImageWebp="/img/ema.webp"
    backgroundImageJpeg="/img/ema.jpg"
  >
    <RoadDetails slot="details" distance="124km" up="716m" time="6h 18min*" />
  </FullWidthBanner>

    <!-- Dzień 2 
   
    https://www.strava.com/routes/3339205520359176582 -->

  <FullWidthBanner
    id="day2"
    headline="Etap 2"
    description={`Ostrava - Zlate Hory 09.06-10.06`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
      Płasko, zielono, przyjemnie... do czasu. 
      Przecinasz czeskie wsie, suniesz dolinami rzeki Opavy i przekraczasz historyczne granice. 
      Po drodze mijać będziesz urocze miasta Krnov i Opava – idealne na chwilę odpoczynku. 
      Ale końcówka to festiwal podjazdów, które wyniosą Cię aż do uzdrowiskowego Zlaté Hory, tuż u stóp Jesioników.
      `}
    url="/day-2/"
    backgroundImageWebp="/img/kopa.webp"
    backgroundImageJpeg="/img/kopa.jpg"
  >
    <RoadDetails slot="details" distance="115km" up="641m" time="6h 11min*" />
  </FullWidthBanner>
  <GlitchImageBanner
    webpSrc="/img/alpe-team.jpeg"
    jpgSrc="/img/alpe-team.jpeg"
    alt="Drużyna Alpe"
    id="alpe-glitch"
    height="550px"
  />
    <!-- Dzień 3 
   
    https://www.strava.com/routes/3339214198752284038 -->
  <FullWidthBanner
    id="day3"
    headline="Etap 3"
    description={`Zlate Hory - Międzylesie 10.06-11.06`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
      Witamy w górach. Tego dnia szlak pnie się przez serce Wysokiego Jesionika, 
      przez miejscowości jak Lipová-lázně, Jeseník, Hanušovice i Kraliky. 
      Góry nie dadzą Ci chwili wytchnienia – trzy konkretne podjazdy rozgrzeją nogi, 
      ale i wynagrodzą Ci to widokami z bajki.
       Po drodze spotkasz ruiny fortyfikacji, leśne ścieżki i ciszę, która brzmi jak muzyka.
      `}
    url="/day-1/"
    backgroundImageWebp="/img/zlatehory.webp"
    backgroundImageJpeg="/img/zlatehory.jpg"
  >
    <RoadDetails slot="details" distance="81km" up="1093 m" time="4h 54min" />
  </FullWidthBanner>

  <!-- Dzień 4  
   
    Wariant mniejszy https://www.strava.com/routes/3339223215519407494 -->
  <FullWidthBanner
    id="day4"
    headline="Etap 4"
    description={`Międzylesie - Lądek Zdrój 11.06-12.06`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
      Kręte drogi, wijące się niczym smoki przez Masyw Śnieżnika. 
      Mijając Międzygórze, wspinasz się serpentynami przez górskie przełęcze wśród szczytów i głębokich lasów. 
      Kraina wodospadów i legend – w tym Wodospad Wilczki i kościół w Międzygórzu – 
      to miejsce, gdzie mit spotyka rzeczywistość. 
      Finał w Lądku-Zdroju – jednym z najstarszych uzdrowisk Europy.
      `}
    url="/day-1/"
    backgroundImageWebp="/img/miedzygorze.webp"
    backgroundImageJpeg="/img/miedzygorze.jpg"

  >
    <RoadDetails slot="details" distance="57km" up="1215m" time="4h 3min*" />
    <RoadDetails slot="details" text="Trasa alternatywna" distance="45km" up="765m" time="2h 44min*" />
  </FullWidthBanner>

    <!-- Dzień 5  
   
   https://www.strava.com/routes/3339225903883417192 -->

  <FullWidthBanner
    id="day5"
    headline="Etap 5"
    description={`Lądek Zdrój - Kudowa Zdrój`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
      Etap klasy premium. 
      Przejeżdżasz przez całe Góry Stołowe, gdzie krajobraz wygląda jak z innej planety. 
      Słynne formacje skalne w Błędnych Skałach, Polanica-Zdrój, Duszniki-Zdrój – to nie tylko uzdrowiska, 
      to żywe muzea historii i natury. 
      Kłodzko zachwyci architekturą, a meta w Kudowie – bliskość Czech i klimat uzdrowiskowego spokoju.
      `}
    url="/day-1/"
    backgroundImageWebp="/img/kudowa.webp"
    backgroundImageJpeg="/img/kudowa.jpg"
  >
    <RoadDetails slot="details" distance="94km" up="1181m" time="5h 20min*" />
  </FullWidthBanner>
  <!-- Dzień 6  
   
    Wariant mniejszy https://www.strava.com/routes/3339223215519407494 -->
  <FullWidthBanner
    id="day6"
    headline="Etap 6"
    description={`Kudowa Zdrój - České Petrovice`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
     Krótszy etap, ale intensywny. 
     Przemierzasz przez Orlické hory – dzikie, surowe, niedoceniane. 
     Szlak prowadzi przez leśne serpentyny i zaciszne doliny. 
     Spotkasz tu więcej saren niż ludzi. Idealny dzień na 
     kontemplację i ładowanie baterii – zarówno fizycznych, jak i duchowych.
      `}
    url="/day-1/"
    backgroundImageWebp="/img/Velka-Destna-Czechia.webp"
    backgroundImageJpeg="/img/Velka-Destna-Czechia.jpg"
  >
    <RoadDetails slot="details" distance="57km" up="1001m" time="3h 28min*" />
  </FullWidthBanner>
  <!-- Dzień 7  
   
    Wariant mniejszy https://www.strava.com/routes/3339223215519407494 -->
  <FullWidthBanner
    id="day7"
    headline="Etap 7"
    description={`České Petrovice-Kłodzko`}
    incline="Zobacz więcej"
    descriptionSecond={`🚩
      Ostatni dzień to pełna pętla przez graniczne pasma, z powrotem w kierunku Kłodzka. 
      Przejeżdżasz przez Bystrzycę Kłodzką, a potem przez dzikie okolice Nowej Rudy i Ścinawki. 
      Teren falujący, malowniczy, z historią kopalń, fortyfikacji i przygranicznych opowieści. 
      Meta w Kłodzku`}
    url="/day-1/"
    backgroundImageWebp="/img/klodzko.webp"
    backgroundImageJpeg="/img/klodzko.jpg"
  >
    <RoadDetails slot="details" distance="92km" up="1017m" time="5h 31min*"/>
    
    
    <RoadDetails slot="details" text="Trasa alternatywna" distance="47km" up="300m" time="2h 51min*">
  </FullWidthBanner>
</BaseLayout>
