---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Product-2";
---


<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1>{pageTitle}</h1>
  </div>
</BaseLayout>