---

---

<style>
  .counter-wrapper {
    position: fixed;
    bottom: 0;
    color: #f4e9c3;
    font-size: clamp(1rem, 4vw, 2rem);
    max-width: 750px;
    padding: 10px;
    font-weight: bold;
    z-index: 15;
    overflow: hidden;
    font-family: "Raleway", sans-serif;
    opacity: 0.8;
    backdrop-filter: blur(5px);
  }

  .date {
    font-size: 14px;
    text-align: left;
  }

  #countdown {
    position: relative;
    z-index: 1;
    line-height: 1.2;
  }
</style>

<div class="counter-wrapper">
  <!-- <img class="gif-background" src="/img/crank-bielas.gif" alt="Korba w tle" /> -->
  <div id="countdown">Ładowanie...</div>
  <p class="date">08.06.2025-15.06.2025</p>
</div>

<script>
  const countdown = document.getElementById("countdown");
  const targetDate = new Date("2025-06-08T07:00:00Z");

  function updateCountdown() {
    const now = new Date();
    const diff = targetDate - now;

    if (diff <= 0) {
      countdown.innerHTML = "Czas minął!";
      countdown.style.color = "#6b0000";
      return;
    }

    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((diff / (1000 * 60)) % 60);
    const seconds = Math.floor((diff / 1000) % 60);

    countdown.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
  }

  updateCountdown();
  setInterval(updateCountdown, 1000);
</script>
