---
import { Image } from 'astro:assets';

import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

import Logo from "../assets/img/logo.png"
---

<header>
  <nav>
    <Image class="logo-main" src={Logo} alt="A bird sitting on a nest of eggs." />
    <Hamburger />
    <Navigation />
  </nav>
</header>
