---
---

<style>
.nav-links {
  text-align: center;
  margin: 0;
}

</style>

<div class="nav-links">
  <a href="/day-1/">I</a>
  <a href="/day-2/">II</a>
  <a href="/day-3/">III</a>
  <a href="/day-4/">IV</a>
  <a href="/day-5/">V</a>
  <a href="/day-6/">VI</a>
  <a href="/day-7/">VII</a>
</div>

